<template>
  <li :class="{ open: isOpen }">
    <a class="item" @click="toggleEvent">
      <div class="box q">Q</div>
      <div class="titleArea">
        <span class="kind">{{ props.category }}</span>
        <span class="title">{{ props.question }}</span>
      </div>
    </a>
    <div class="aContentWrap" v-show="isOpen">
      <div class="inner">
        <div class="box a">A</div>
        <div class="aContentArea">
          <div class="aContent" v-html="props.answer">
          </div>
          <div class="fileArea">
            <a class="fileLink only"><span></span></a>
          </div>
        </div>
      </div>
    </div>
  </li>
</template>

<script setup lang="ts">
const props = defineProps({
  question: String,
  answer: String,
  category: String
})

const isOpen = ref(false);

const toggleEvent = () => {
  isOpen.value = !isOpen.value;
}
</script>

<style scoped>

</style>