<template>
  <div class="container">
    <div class="inners" id="contents">
      <h2 class="subTopTitle pcOnly">소식</h2>
      <NoticeDetail v-if="item"
        :category="item.data.attributes.category"
        :title="item.data.attributes.title"
        :date="item.data.attributes.date"
        :content="item.data.attributes.content"
        :writer = "item.data.attributes.writer.data.attributes.name"
      />
      <div class="btnBottomArea">
        <NuxtLink to="/notice" class="btnText yellow">목록</NuxtLink>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
const route = useRoute();
const { data: item }: { data: any } = await useApi(`/notices/${route.params.id}?populate=*`);

</script>

<style scoped>

</style>