<template>
  <li>
    <NuxtLink :to="'/recruit/'+ props.id">
      <span class="title">{{ props.title }}</span>
      <span class="date">{{ props.startdate }} ~ {{ props.enddate }}</span>
    </NuxtLink>
  </li>
</template>

<script setup lang="ts">
const props = defineProps({
  id: Number,
  title: String,
  startdate: String,
  enddate: String,
});
</script>

<style scoped>

</style>