<template>
  <ul class="headerArea">
    <li class="title">{{ props.title }}</li>
    <span class="date"></span>
  </ul>
  <div class="recruitViewContent" v-html="props.content"></div>
</template>

<script setup lang="ts">
const props = defineProps({
  title : String,
  content : String
})
</script>

<style scoped>

</style>