<template>
  <footer class="">
    <div class="inner">
      <div class="logo">
        <p>KB헬스케어</p>
      </div>

      <div>
        <p>㈜케이비헬스케어</p>
        <p>사업자등록번호:356-86-02394 ㅣ 대표:최낙천</p>
        <p>통신판매업신고번호: 2021-서울강남-06776호</p>
        <p>06212 서울특별시 강남구 테헤란로 334, 15층(교정공제회 역삼빌딩) | 1544-3677</p>
        <p>Copyright © KB헬스케어. All rights reserved.</p>

        <p class="footer-btn">
          <a href="/bcc/Agreement.do">서비스이용약관</a>
          <span class="m-block"><a href="/bcc/Person.do" class="fwb">개인정보처리방침</a></span>
        </p>
      </div>
    </div>
  </footer>
</template>