<template>
  <header>
    <div class="inner">
      <NuxtLink to="/" class="btn-home"><h1 class="h1-logo">O-CARE</h1></NuxtLink>
    
      <button type="button" class="btn-menu only-mobile" @click="isNavMenuOpen = !isNavMenuOpen">메뉴</button>
      <nav class="nav-menu" :class="{ show: isNavMenuOpen }">
        <div class="nav-bg only-mobile"></div>
        <ul id="gnb">
          <li name="Aboutmenu"><NuxtLink to="/about">KB헬스케어</NuxtLink></li>
          <li name="Noticemenu"><NuxtLink to="/notice">소식</NuxtLink></li>
          <li name="RecruitMgmtmenu"><NuxtLink to="/recruit">채용</NuxtLink></li>
          <li name="FAQmenu"><NuxtLink to="/faq">자주하는질문</NuxtLink></li>
          <!-- <li name="mainmenu" class="english"><a href="/bcc/MainEng.do"><span>English</span></a></li> -->
        </ul>
      </nav>
    </div>
  </header>
</template>

<script setup lang="ts">
const isNavMenuOpen = ref(false);
const router = useRouter();

watch(router.currentRoute, () => {
  isNavMenuOpen.value = false;
});
</script>