
/*기본 Noto Sans*/
@font-face { 
	font-family: 'NotoSansCJKkr'; 
	font-style: normal; 
	font-weight: 500; 
	src: local(""), 
		url("/assets/font/NotoSansCJKkr-Medium.woff2") format("woff2"), 
		url("/assets/font/NotoSansCJKkr-Medium.woff") format("woff");
}
@font-face { 
	font-family: 'NotoSansCJKkr'; 
	font-style: normal; 
	font-weight: normal; 
	src: local(""), 
		url("/assets/font/NotoSansCJKkr-Regular.woff2") format("woff2"), 
		url("/assets/font/NotoSansCJKkr-Regular.woff") format("woff");
}
@font-face { 
	font-family: 'NotoSansCJKkr'; 
	font-style: normal; 
	font-weight: 700; 
	src: local(""), 
		url("/assets/font/NotoSansCJKkr-Bold.woff2") format("woff2"), 
		url("/assets/font/NotoSansCJKkr-Bold.woff") format("woff");
}

/* KB 폰트 추가 */
@font-face { 
	font-family: 'KBDisplay'; 
	font-style: normal; 
	font-weight: normal; 
	src: local(""), 
		url("/assets/font/KBFGDISPLAYM.woff") format("woff"), 
		url("/assets/font/KBFGDISPLAYM.woff2") format("woff2");
}
@font-face { 
	font-family: 'KBDisplay'; 
	font-style: normal; 
	font-weight: 300; 
	src: local(""), 
		url("/assets/font/KBFGDISPLAYL.woff") format("woff"), 
		url("/assets/font/KBFGDISPLAYL.woff2") format("woff2");
}
@font-face { 
	font-family: 'KBDisplayMI'; 
	font-style: normal; 
	font-weight: normal; 
	src: local(""), 
		url("/assets/font/KBFGDISPLAYMI.woff") format("woff"), 
		url("/assets/font/KBFGDISPLAYMI.woff2") format("woff2");
}