<template>
  <div class="container">
    <div class="inners" id="contents">
      <h2 class="subTopTitle">자주묻는 질문</h2>
      <div class="tabArea">
        <div class="tabList round">
          <ul>
              <li name="inqTpLi" :class="{ on: item.selected }" v-for="(item, index) in tabs" 
                :key="index"
                >
                <a href="#" name="faqTab" cmcd="400003" id="400003" class="tab" @click="toggleEvent(item)"><span>{{ item.name }}({{ item.count }})</span></a>
              </li>
          </ul>
        </div>
        <div class="tabCont">
            <h4 class="blind">공지 내용</h4>
            <ul class="faqList" v-if="items.data">
              <FaqItem v-for="(item,index) in items.data" 
                :key="index"
                :question="item.attributes.question"
                :answer="item.attributes.answer"
                :category="item.attributes.category"
                v-show="tabs[0].selected || item.attributes.category === currentTab"
              />
            </ul>
          </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
const { data: items }: { data : any } = await useApi('/qnas?populate=*');

const tabs = [
  { name: '전체', selected: true, count: 0 },
  { name: '회원', selected: false, count: 0 },
  { name: '앱', selected: false, count: 0 },
  { name: '서비스가입', selected: false, count: 0 },
];

const { currentTab, toggleEvent } = useTabToggle(tabs);

tabs.forEach((tabitem)=>{
  if(tabitem.name == '전체'){
    tabitem.count = items.value.data.length;
  }
  else{
    items.value.data.filter((item:any) => item.attributes.category === tabitem.name ? tabitem.count++ : undefined );
  }
})
</script>

<style scoped>

</style>