<template>
  <div class="container">
    <div class="inners" id="contents">
      <h2 class="subTopTitle">{{ items.data[0].attributes.name }}</h2>
      <div class="tabArea">
        <div class="tabList round">
          <ul>
              <li name="ntcFgLi" :class="{ on : item.selected}" v-for="(item,index) in tabs" 
                :key=index
                >
                <a href="#" name="ntcFgTab" class="tab" cmcd="300117" id="300117" @click="toggleEvent(item)"><span>{{ item.name }}</span></a>
              </li>
          </ul>
        </div>
        <div class="tabContArea">
          <div class="tabCont on">
            <h4 class="blind">전체 내용</h4>
            <div class="thumbnail_ist">
              <ul>
                <li v-for="(item,index) in items.data[0].attributes.article.data" :key = "index" v-show="tabs[0].selected || item.attributes.category === currentTab">
                  <NuxtLink :to="'/notice/'+item.id" class="item">
                    <NoticeItem 
                      :title = "item.attributes.title"
                      :category = "item.attributes.category"
                      :date = "item.attributes.date"
                      :image = "item.attributes.image.data.attributes.url"
                      :writer = "items.data[0].attributes.name"
                    />
                  </NuxtLink>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
const route = useRoute();
const { data: items }: { data: any } = await useApi(`/kbcc-users?filters[name][$eq]=${route.params.name}&populate=article.image`);

const tabs = [
  {name: '전체', selected: true},
  {name: '공지사항', selected: false},
  {name: '언론보도', selected: false},
  {name: '이벤트', selected: false}
]
const { currentTab, toggleEvent } = useTabToggle(tabs);

</script>

<style scoped>

</style>