<template>
  <section class="sec01 reveal active animation">
    <div class="inner">
      <div class="txt-box" v-if="item">
        <p class="ani01 anitop">{{ item.data.attributes.title }}</p>
        <p class="ani03 anitop"><strong>{{ item.data.attributes.subtitle }}</strong></p>
      </div>
    </div>
  </section>
</template>

<script setup lang="ts">
const {data: item} : { data: any } = await useApi('/about');
</script>

<style scoped>

</style>