<template>
      <section class="sec01 reveal indexmain active animation">
        <div class="inner">
          <div class="txt-box" v-if="item">
            <p class="ani01 anitop" v-html="item.data.attributes.title"></p>
            <p class="ani02 anitop" v-html="item.data.attributes.subtitle"></p>
            <p class="btn-box ani03 anitop">
              <button type="button" class="btn-down only-mobile">앱 다운로드</button>
              <a href="https://play.google.com/store/apps/details?id=com.kb.ocare.app" class="btn-down google" target="_blank">구글 플레이</a>
              <a href="https://apps.apple.com/us/app/%EC%98%A4%EC%BC%80%EC%96%B4/id1597675315" class="btn-down apple" target="_blank">앱스토어</a>
            </p>
          </div>
        </div>
      </section>
</template>
<script setup lang="ts">
const { data: item } : { data : any } = await useApi('/main');
</script>
