<template>
  <div class="boardViewWrap">
    <div class="titleArea">
      <div class="flagArea">
        <div class="flag blue">{{ props.category }}</div>
      </div>
      <div class="title">{{ props.title }}</div>
      <NuxtLink :to="'/notice/writer/'+props.writer" class="item">작성자 : {{ props.writer }}</NuxtLink>
      <div class="date">{{ props.date }}</div>
    </div>
    <div class="pre-wrap boardContent">
      <div class="img" v-html="props.content">
       
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
const props = defineProps({
  title: String,
  category: String,
  date: String,
  content: String,
  writer: String
})
</script>

<style scoped>

</style>