<template>
    <!-- <a href="" class="item"> -->
      <div class="img">
        <img :src="`${$config.public.baseUrl + image}`" alt="" width="180px">
      </div>
      <div class="textArea">
        <div class="flagArea">
          <div class="flag" :class="{
            'red' : props.category == '공지사항',
            'blue' : props.category == '언론보도',
            'yello' : props.category == '이벤트'
          }">{{ props.category }}</div>
        </div>
        <div class="title">{{ props.title }}</div>
        <div class="blue"> 작성자 : {{ props.writer }}</div>
        <div id="date" class="date">
          {{ props.date }}
        </div>
      </div>
    <!-- </a> -->
</template>

<script setup lang="ts">
const props = defineProps({
  title: String,
  category: String,
  date: String,
  image: String,
  writer: String
})
</script>

<style scoped>

</style>