<template>
  <div class="container">
    <div class="inners" id="contents">
      <h2 class="subTopTitle pcOnly">채용</h2>
      <div class="recruitView">
        <div class="btnTopArea">
          <a class="btnText recruit"><span>입사지원</span></a>
        </div>
        <RecruitDetail v-if="item"
          :title=item.data.attributes.title
          :content=item.data.attributes.content
        />
        <div class="btnBottomArea">
          <NuxtLink to="/recruit" class="btnText yellow"><span>목록</span></NuxtLink>
				</div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
const route = useRoute();
const { data: item }: { data: any } = await useApi(`/recruits/${route.params.id}?populate=*`)

</script>

<style scoped>

</style>