<template>
  <div class="container">
    <div class="inner" id="contents">
      <!-- 상세 : s -->
      <h2 class="subTopTitle">채용</h2>
      <!-- 2212 배너 추가 -->
      <div class="recruitBanner">
        <div class="hbox jc">
          <!-- 이미지 갯수별로 꽉 차게 나오게 됩니다. div class="flex" 를 같이 반복 해주세요 // 웹 1개 이상 모두 출력, 모바일 1번 이미지만 출력 / 높이값 300px - 중간, 중간 꽉 채우기 기준 -->
          <div class="flex">
            <img src="/img-recruit-1.png">
          </div>
          <div class="flex">
            <img src="/img-recruit-2.png">
          </div>
          <div class="flex">
            <img src="/img-recruit-3.png">
          </div>
          <div class="flex">
            <img src="/img-recruit-4.png">
          </div>
        </div>
      </div>
      <!-- //2212 배너 추가 -->
      <div class="recruitList">
          <div class="btnTopArea">
            <a class="btnText recruit"><span>입사지원</span></a>
          </div>
        
        <ul class="headerArea">
          <li class="title">채용공고명</li>
          <li class="date">채용일정</li>
        </ul> 
        <ul class="bodyArea">
            <RecruitItem v-for="(item,index) in items.data" 
              :key = "index"
              :id = "item.id"
              :title ="item.attributes.title"
              :startdate = "item.attributes.startdate"
              :enddate = "item.attributes.enddate"
            />
        </ul>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
const { data: items }: { data : any } = await useApi('/recruits?populate=*');

// console.log(items)
</script>

<style scoped>

</style>